.welcome-container{
  background-color: #43417E;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 200px 0 0 0;
}


.divox-slogan{
  color: #fff;
  font-size: 58px;
  white-space: pre-line;
  padding-left: 6%;
}

.fox-image{
  position: absolute;
  width: 430px;
  right: 0;
  top: -20px;
  z-index: 0;
  object-fit: cover;
  object-position: 233px 10px;
}
