$main-text-color: #331B3B;

.header-container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  z-index: 10;
  position: fixed;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  border-radius: 0px;
  background-color: #ffffffed;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.left-header-section{
  display: flex;
  width: 50%;
  align-items: center;
  margin-left: 3%;
}

.right-header-section{
  margin-right: 3%;
}

.header-items{
  width: 280px;
  justify-content: space-around;
  display: flex;
  margin-right: 40px;
  max-width: 400px;
}

.divox-logo-container{
  width: 180px;
}

.header-item{
  cursor: pointer;
  color: $main-text-color;
}

.divox-logo{
  width: 150px;
}
