$main-text-color: #331B3B;

.header-container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  z-index: 10;
  position: fixed;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  border-radius: 0px;
  background-color: #ffffffed;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.left-header-section{
  display: flex;
  width: 70%;
  align-items: center;
  margin-left: 3%;
}

.right-header-section{
  margin-right: 3%;
  display: flex;
}

.header-items{
  width: 450px;
  justify-content: space-around;
  display: flex;
  margin-right: 40px;
  max-width: 450px;
}

.divox-logo-container{
  width: 180px;
}

.header-item{
  cursor: pointer;
  color: $main-text-color;
}

.divox-logo{
  width: 150px;
}

/* Language dropdown styles */
.language-dropdown {
  position: relative;
  display: inline-block;
}

.arrow{
  margin-left: 5px;
  font-size: 10px;
}

.dropbtn {
  background-color: #804fa7;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
}

.flag {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 120px;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.dropdown-content a {
  color: #804fa7;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #e7e7e7;
}

.language-dropdown:hover .dropdown-content {
  display: block;
}

.lottie-container{
  width: 30px;
}
