<div class="header-container">
  <div class="header-content">

    <div class="left-header-section">
      <div class="divox-logo-container">
        <img src="./assets/divox-logo.svg" alt="" class="divox-logo" />
      </div>

      <div class="header-items">
        <a class="header-item" (click)="setLinkClicked('home')">Home</a>
        <a class="header-item" (click)="setLinkClicked('services')">Services</a>
        <a class="header-item" (click)="setLinkClicked('whyDivox')">Why Divox</a>
        <a class="header-item" (click)="setLinkClicked('ourTeam')">Our team</a>
        <a class="header-item" (click)="setLinkClicked('aboutUs')">About Us</a>
      </div>
    </div>

    <div class="language-dropdown">
      <button class="dropbtn">
        <img src="english-flag.png" alt="English Flag" class="flag">
        English
        <span>&#9660;</span>
      </button>
      <div class="dropdown-content">
        <a href="#">English <img src="english-flag.png" alt="English Flag" class="flag"></a>
        <a href="#">عربي <img src="arabic-flag.png" alt="Arabic Flag" class="flag"></a>
      </div>
    </div>

      <app-contact-us-btn (onClick)="setLinkClicked('contactUs')"></app-contact-us-btn>

      <div id="menu" >
        <div id="menu-bar" [class.change]="isMenuChanged" (click)="menuOnClick()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav" [class.change]="isMenuChanged">
          <ul>
            <li><a (click)="setLinkClicked('home')">Home</a></li>
            <li><a (click)="setLinkClicked('services')">Services</a></li>
            <li><a (click)="setLinkClicked('whyDivox')">Why Divox</a></li>
            <li><a (click)="setLinkClicked('ourTeam')">Our team</a></li>
            <li><a (click)="setLinkClicked('aboutUs')">About Us</a></li>
            <li><a (click)="setLinkClicked('contactUs')">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="menu-bg" id="menu-bg" [class.change-bg]="isMenuChanged"></div>
    </div>

  </div>
</div>
