@import '/src/screen.scss';
$main-text-color: #331B3B;

.home-page-container{
    width: 100vw;
    height: 100svh;
}

.welcome-container{
  height: 589px;
  width: 100%;
  padding: 200px 0 0 0;
}


.divox-slogan{
  color: $main-text-color;
  font-size: 49px;
  white-space: pre-line;
  font-weight: bold;
}

.light-weight{
  font-weight: 400;
}
.background-image{
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 0;
  width: 45%;
}

.main-illustration{
  position: absolute;
  right: 0;
  top: 110px;
  width: 50%;
}

.main-text{
  width: 37%;
  padding-left: 3%;
}

.what-is-divox{
  color: $main-text-color;
  font-size: 17px;
  line-height: 28px;
  margin-top: 25px;
  max-width: 460px;

}

mark{
  color: $main-text-color;
  background-color: #ffbc068c;
}

.services-container{
  background-color: #EDE5F2;
  margin-top: 10%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  border-radius: 20% 0 0 0;
}

.services-text{
  margin-bottom: 50px;
}

.services-main-txt{
  display: flex;
  justify-content: center;
  width: 100%;
  color: $main-text-color;
}

.card-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 40px;
  padding: 0 3%;
}

.card{
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.05);
  padding: 19px;
}

.illustration-container{
  width: 52px;
  height: 48px;
  background-color: #331B3B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-illustration{
  width: 34px;
  height: 34px;
}

.orange{
  background-color: #FFDED4;
}

.yellow{
  background-color: #FFEED4;
}

.baby-blue{
  background-color: #D4F0FF;
}

.card-title{
  font-size: 16px;
  color: $main-text-color;
  font-weight: bold;
  margin-top: 20px;
  line-height: 24px;
}

.card-description{
  font-size: 15px;
  color: $main-text-color;
  margin-top: 8px;
  line-height: 19px;
}



button {
  --primary-color: #804fa7;
  --secondary-color: #fff;
  --hover-color: #c158ab;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.contact-us-button{
  height: 50px;
}

.email-form{
  display: flex;
  margin-top: 30px;
  margin-left: 3%;
  max-width: 490px;
  justify-content: space-between;
  align-items: center;
}

.InputContainer {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin-top: 30px;
}

.input {
  width: 320px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: #46285D;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

@media screen and (max-width:   1300px) {
  .welcome-container{
    height: 450px;
  }

}
@media screen and (max-width:   1100px) {
  .welcome-container{
    height: 380px;
  }

}
@media screen and (max-width:   1000px) {
  //.background-image {
  //  width: 35%;
  //}
  //.main-illustration{
  //  width: 35%;
  //}
  .main-text{
    width: 45%;
  }
  .divox-slogan{
    font-size: 35px;
  }
  .welcome-container{
      height: fit-content;
  }
  .what-is-divox{
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  .divox-slogan{
    font-size: 30px;
  }
  .what-is-divox{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .card-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

.dotted-circle{
  position: absolute;
  object-fit: cover;
  object-position: 120px -260px;
  right: 0;
}

.why-divox-container{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -80px;
}

.why-divox-text{
  width: 39%;
}

.why-divox-head-txt{
  font-size: 48px;
  line-height: 105px;
  color: $main-text-color;
  font-weight: bold;
}

.why-image-container{
  width: 55%;
}

.why-divox-img{
  width: 100%;
  height: 100%;
}

.why-divox-description{
  font-size: 17px;
  line-height: 24px;
  color: $main-text-color;
  opacity: 90%;
  text-align: justify;
}

.team-container{
  background-color: #F8E6F3;
  margin-top: 10%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  border-radius: 20% 0 0 0;
}

.team-card{
  height: 150px;
}

.about-us-container{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 100%;
  padding-bottom: 50px;
}

.about-us-card-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.about-us-img{
  width: 90%;
  height: 90%;
}

.about-us-text{
  line-height: 40px;
}

.about-us-subtext{
  font-size: 48px;
  line-height: 105px;
  color: $main-text-color;
  font-weight: normal;
}

.about-us-description{
  text-align: center;
}

.about-us-card{
  width: 23%;
  padding: 0 3%;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-head{
  font-size: 20px;
  font-weight: 600;
}

.about-us-text-container{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-us-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-us-img{
  width: 45%;
}

.contact-us-form{
  width: 40%;
}

.textarea-container{
  height: 150px;
}

.textarea-input{
  height: 120px;
  padding-top: 15px;
}

textarea {
  resize: none;
}

.submit-btn{
  margin-top: 30px;
}


.footer-container{
  width: 100%;
  height: 100px;
  background-color: #45285d;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copy-right{
  color: #fff;
  font-size: 18px;
}

.social-media-icon{
  width: 40px;
  margin-left: 20px;
}
