@import '/src/screen.scss';
$main-text-color: #331B3B;

.home-page-container{
    width: 100vw;
    height: 100svh;
}

.welcome-container{
  height: 589px;
  width: 100%;
  padding: 200px 0 0 0;
}


.divox-slogan{
  color: $main-text-color;
  font-size: 49px;
  white-space: pre-line;
  font-weight: bold;
}

.light-weight{
  font-weight: 400;
}
.background-image{
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 0;
  width: 45%;
}

.main-illustration{
  position: absolute;
  right: 0;
  top: 110px;
  width: 50%;
}

.main-text{
  width: 47%;
  padding-left: 3%;
}

.what-is-divox{
  color: $main-text-color;
  font-size: 17px;
  line-height: 28px;
  margin-top: 25px;
  max-width: 460px;

}

mark{
  color: $main-text-color;
  background-color: #ffbc068c;
}

.services-container{
  background-image: url("/assets/left-right-pink-curve.svg");
  margin-top: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0px;
}

.services-text{
  margin-bottom: 50px;
}

.services-main-txt{
  display: flex;
  justify-content: center;
  width: 100%;
  color: $main-text-color;
}

.card-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 40px;
  padding: 0 3%;
}

.card{
  display: flex;
  flex-direction: column;
  height: 160px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
  padding: 19px;
}

.illustration-container{
  width: 52px;
  height: 48px;
  background-color: #331B3B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-illustration{
  width: 34px;
  height: 34px;
}

.orange{
  background-color: #FFDED4;
}

.yellow{
  background-color: #FFEED4;
}

.baby-blue{
  background-color: #D4F0FF;
}

.card-title{
  font-size: 16px;
  color: $main-text-color;
  font-weight: bold;
  margin-top: 13px;
}

.card-description{
  font-size: 15px;
  color: $main-text-color;
  margin-top: 8px;
}
@media screen and (max-width:   1300px) {
  .welcome-container{
    height: 450px;
  }

}
@media screen and (max-width:   1100px) {
  .welcome-container{
    height: 380px;
  }

}
@media screen and (max-width:   1000px) {
  //.background-image {
  //  width: 35%;
  //}
  //.main-illustration{
  //  width: 35%;
  //}
  .main-text{
    width: 45%;
  }
  .divox-slogan{
    font-size: 35px;
  }
  .welcome-container{
      height: fit-content;
  }
  .what-is-divox{
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  .divox-slogan{
    font-size: 30px;
  }
  .what-is-divox{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .card-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
