<div class="home-page-container">

  <div class="welcome-container">
    <img src="/assets/background-color.svg" class="background-image">
    <img src="./assets/main-image.svg" class="main-illustration">

    <div class="main-text">
      <h1 class="divox-slogan">From Tech Wizardry</h1>
      <h1 class="divox-slogan light-weight"><mark>to Marketing Mastery</mark></h1>
      <h3 class="what-is-divox">{{englishTextService.whatIsDivox}}</h3>
    </div>

    <p class="divox-slogan"></p>
  </div>

  <div class="services-container">
    <div class="services-text">
      <h1 class="services-main-txt">What We Do</h1>
      <h1 class="services-main-txt light-weight">For Your Business</h1>
    </div>

    <div class="card-row">
      <div class="card">
        <div class="illustration-container orange">
          <img src="./assets/site-design.svg" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>

      <div class="card">
        <div class="illustration-container yellow">
          <img src="./assets/web-dev.svg" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>

      <div class="card">
        <div class="illustration-container baby-blue">
          <img src="./assets/logo-design.png" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>
      <div class="card">
        <div class="illustration-container baby-blue">
          <img src="./assets/motion-graphic.png" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>

      <div class="card">
        <div class="illustration-container orange">
          <img src="./assets/content-creator.png" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>

      <div class="card">
        <div class="illustration-container yellow">
          <img src="./assets/marketing-campaign.png" alt="" class="services-illustration">
        </div>
        <div class="card-title">{{englishTextService.servicesText.webAppText}}</div>
        <div class="card-description">{{englishTextService.servicesText.webAppDescription}}</div>
      </div>
    </div>



  </div>

</div>
