<div class="home-page-container">

  <div class="welcome-container">
    <img src="./assets/fox-logo.svg" class="fox-image">
    <h1 class="divox-slogan">{{englishTextService.divoxSlogan}}</h1>
<!--    <img src="./assets/mockup-image.svg" class="mockup-img">-->
  </div>


  <div class="what-is-divox">

    <div class="square">
      <img src="./assets/mouse-icon.svg" alt="" class="mouse-icon">
    </div>

    <div class="content">
      <div class="section-text">
        <h2 class="header-text">What is Divox?</h2>
        <p class="header-answer">{{englishTextService.whatIsDivox}}</p>
      </div>

      <img class="" src="./assets/thinking.png" alt="" />
    </div>

  </div>

</div>
